# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
/algorithm-programming/target
algorithm-programming/src/main/java/com/tw/questiontwo/bmkdir/
algorithm-programming/src/main/resources/
algorithm-programming/target/
algorithm-programming/src/main/java/com/tw/question2/bmkdir/
manual-study/target/
